<table class="table contacts">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Phone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.phone | mask: '(000) 000-0000' }}</td>
      <th scope="row" class="text-right">
        <button
          class="btn btn-lg btn-outline-primary"
          (click)="onOpen(contact.id)"
          data-toggle="modal"
          data-target="#contact-modal"
        >
          edit
        </button>
        <button
          class="btn btn-lg btn-outline-danger"
          (click)="delete(contact)"
        >
          delete
        </button>
      </th>
    </tr>
  </tbody>
</table>
<hr />
<p class="text-right contacts__new-entry">
  <button
    class="btn btn-lg btn-outline-success"
    (click)="onAddEntry(content)"
    data-toggle="modal"
    data-target="#contact-modal"
  >
    add new antry
  </button>
</p>

<app-popup
  [contact]="selected"
  (onSave)="onSave($event)"
></app-popup>


