.contact__popup {
  button {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
  
  input {
    display: block;
    width: 100%;
  }
}

.ng-dirty.ng-invalid {
  .ng-invalid {
    border: 1px solid red !important;
  }
}
